@font-face {  
  font-family:Haziness;
  src: url(fonts/Haziness.ttf) format("truetype");
}

body {
  margin: auto;
  max-width: 1280px;
  font-size: 20px;
  border-collapse: collapse;
  padding-left: 10px;
}

td, th {
  vertical-align:top;
}

.wrapper {
  overflow: auto; /* so the size of the wrapper is alway the size of the longest content */
}

.floaty {
  float: left;
  width: 640px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.flower1 {
  position:absolute;
  left: 37px;
  top: 9px;
}

.flower2 {
  position:absolute;
  left: 4px;
  top: 4px;
}

.flower4 {
  position:absolute;
  left: 65px;
  top: 8px;
}

.flower3 {
  position:absolute;
  left: 35px;
  top: 52px;
}

.flower5 {
  position:absolute;
  left: 49px;
  top: 93px;
}

.plant {
  position: relative;
}

.store {
  border-collapse: collapse;
  width: 100%;
  font-size: 20px;
}

.store td, .store th {
  border: 1px solid #ddd;
  padding: 1px;
}

.store tr:nth-child(even){background-color: #f2f2f2;}

.store tr:hover {background-color: #ddd;}

.store th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #004830;
  color: white;
}

.store td {
  font-family: Haziness;
  font-size: 36px;
}

img {
  vertical-align: text-top;
}



img.av {
  background-color: #00A86B;
}

img.missing {
  background-color: #aaa;
}

h1 {
  font-family: Haziness;
  font-size: 70px;
  color: #004830;
}

h2 {
  font-family: Haziness;
  font-size: 40px;
  color: #004830;
}


button {
  background-color: #0B6623;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

button:hover,
button:focus {
  background-color: #00A86B;
}

button:disabled {
  background-color: #8F9779;
}

#button_undo {
  width: 100px;
}

.levelselect {
  width: 150px;
}

.loading {
  color: #5D8AA8;
}

.congrats {
  color: #F5761A;
}